.weather {
  background-color: transparent;
  color: white;
  border-radius: 8px;
  padding: 20px;
  margin: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.city {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 5px;
}

.weather-description {
  font-size: 18px;
}

.weather-icon {
  width: 60px;
  height: 60px;
}

.bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.temperature {
  font-size: 40px;
  font-weight: bold;
}

.details {
  margin-left: 20px;

}

.parameter-row {
  margin-bottom: 10px;

}

.parameter-label {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: aqua;
}

.parameter-value {
  font-size: 14px;
}
